[submodule "third-party/build-deps"]
	path = third-party/build-deps
	url = https://github.com/LizardByte/build-deps.git
	branch = dist
[submodule "third-party/nvapi-open-source-sdk"]
	path = third-party/nvapi-open-source-sdk
	url = https://github.com/LizardByte/nvapi-open-source-sdk
	branch = sdk