[submodule "third-party/nv-codec-headers"]
	path = third-party/nv-codec-headers
	url = https://github.com/FFmpeg/nv-codec-headers
	branch = sdk/12.0
[submodule "third-party/ffmpeg-windows-x86_64"]
	path = third-party/ffmpeg-windows-x86_64
	url = https://github.com/LizardByte/build-deps
	branch = ffmpeg-windows-x86_64
[submodule "third-party/ffmpeg-macos-x86_64"]
	path = third-party/ffmpeg-macos-x86_64
	url = https://github.com/LizardByte/build-deps
	branch = ffmpeg-macos-x86_64
[submodule "third-party/ffmpeg-linux-x86_64"]
	path = third-party/ffmpeg-linux-x86_64
	url = https://github.com/LizardByte/build-deps
	branch = ffmpeg-linux-x86_64
[submodule "third-party/ffmpeg-linux-aarch64"]
	path = third-party/ffmpeg-linux-aarch64
	url = https://github.com/LizardByte/build-deps
	branch = ffmpeg-linux-aarch64
[submodule "third-party/ffmpeg-macos-aarch64"]
	path = third-party/ffmpeg-macos-aarch64
	url = https://github.com/LizardByte/build-deps
	branch = ffmpeg-macos-aarch64i
[submodule "third-party/nvapi-open-source-sdk"]
	path = third-party/nvapi-open-source-sdk
	url = https://github.com/LizardByte/nvapi-open-source-sdk
	branch = sdk
[submodule "third-party/ffmpeg-linux-powerpc64le"]
	path = third-party/ffmpeg-linux-powerpc64le
	url = https://github.com/LizardByte/build-deps
	branch = ffmpeg-linux-powerpc64le
[submodule "third-party/wayland-protocols"]
	path = third-party/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols
	branch = main
[submodule "third-party/wlr-protocols"]
	path = third-party/wlr-protocols
	url = https://gitlab.freedesktop.org/wlroots/wlr-protocols
	branch = master
